#area-table{
	margin: 1em auto;
	width: 90%;
}

#tabla-tareas{
	margin: 1em auto;
	width: 80%;
}

#tabla-tareas thead{
	background: #ffffcc;
}

#tabla-tareas td{
	padding: 0.5em 1em;
	width: 20%;
}

.even{
	background: #dddddd;
}