#Formulario-Login{
	border: solid 1px #000;
	border-radius: 10px;
	margin: 5em auto;
	padding: 2em;
	width: 30%;
}

#table-login{
	margin:  1em auto;
	width: 90%;
}

.column-text{
	width: 40%;
}

.column-input{
	width: 60%;
}

#button-login{
	float: right;
	margin-top: 1em;
	margin-right: 1em;
}